body{
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color:#752929;
    background-color: #ffe4c4;
}
article{
    background-color: #4A4AE0;
    color: white;
    padding: 45px;
    margin: 45px;
    font-size: 16px;
    border-radius: 5% ;
}